<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form action="/links" method="post">
    <label for="Title">
      Title
      <input type="text" name="title">
    </label>
    <label for="URL">
      URL
      <input type="text" name="url">
    </label>
    <input type="submit" value="Add">
  </form>
</body>
</html>
